html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    background-color: #004063;
    color: white;
}

.nav-bar {
    float: left;
    padding: 15px;
    position: fixed;
    background-color: #004063;
}

main {
    margin-left: 360px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    
    height: 100%;
    display: flex;
    flex-direction: column;
}

section p {
    width: 100%;
}

.social-elements {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
}

.social-elements li {
    display: inline;
    padding: 20px;
}

.headshot {
    max-width: 120px;
    border-radius: 50%;
}

.project-image {
    max-width: 75%;
}

#projects img {
    align-items: center;
}

.btn {
    margin-right: auto;
    border: none;
    padding: 10px 44px;
    font-size: 36px;
    position: relative;
    background-color: #004063;
    display: block;
    text-decoration: none;
}

.btn::before {
    transition: all 0.5s ease-in-out;
    content: '';
    width: 15px;
    height: 100%;
    background: #ef7f2f;
    position: absolute;
    top: 0;
    left: 0;
}

.btn .btn-text {
    color: white;
    mix-blend-mode: difference;
}

.btn:hover::before {
    background: #ef7f2f;
    width: 100%;
}

.openclose {
    display: none;
}


@media screen and (max-width: 1024px) {
    .nav-bar {
        padding: 0px;
    }

    .openbtn {
        position: fixed;
        top: 5px;
        right: 10px;
    }

    main {
        margin-left: 0;
    }

    .social-elements {
        flex-direction: column;
    }

    .openclose {
        display: block;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}